# Emacs autosaves #

*~
\#*#

# pycache #
__pycache__

# python compiled files #
.pyc
.vscode/*

# ignore csv files #
*.csv
# except those in tests/ subdir
!tests/**/*.csv

# venv
pyvenv.cfg
# windows specific
Lib/
Scripts/