<?xml version="1.0"?>
<robot name="test-robot">

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="blue">
    <color rgba="0 0 0.7 1"/>
  </material>

  <material name="green">
    <color rgba="0 0.75 0 1"/>
  </material>

  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="yellow">
    <color rgba="0.8 0.8 0 1"/>
  </material>
  
  <link name="base_link"/>

  <link name="link0">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <material name="black"/>
      <origin rpy="0 0 0" xyz="0 0 0.3"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.3"/>
    </collision>
  </link>

  <link name="link1">
    <visual>
      <geometry>
        <box size="0.1 0.1 1.0"/>
      </geometry>
      <material name="blue"/>
      <origin rpy="0 0 0" xyz="0 0 0.5"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 1.0"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.5"/>
    </collision>
  </link>

  <link name="link2">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.75"/>       
      </geometry>
      <material name="green"/>
      <origin rpy="0 0 0" xyz="0 0 .375"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.75"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 .375"/>
    </collision>    
  </link>
    
  <link name="link3">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.25"/>
      </geometry>
      <material name="red"/>
      <origin rpy="0 0 0" xyz="0 0 .125"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.25"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 .125"/>
    </collision>  
  </link>

  <link name="link4">
    <visual>
      <geometry>
	<box size="0.1 0.1 0.3"/>
      </geometry>
      <material name="yellow"/>
      <origin rpy="0 0 0" xyz="0 0 .15"/>
    </visual>
    <collision>
      <geometry>
	<box size="0.1 0.1 0.3"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.15"/>
    </collision>
  </link>
  
  <link name="effector">
    <visual>
      <geometry>
        <sphere radius="0.071"/>
      </geometry>
      <material name="black"/>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.071"/>
      </geometry>
      <material name="black"/>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
    </collision>
  </link>

  <joint name="world_joint" type="revolute">
    <parent link="base_link"/>
    <child link="link0"/>
    <origin xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
  </joint>
  
  <joint name="joint1" type="revolute">
    <parent link="link0"/>
    <child link="link1"/>
    <origin xyz="0 0 0.6"/>
    <limit lower="-1.57" upper="1.57" effort="0" velocity="0"/>      
  </joint>

  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 0 1"/>
    <limit lower="-1.57" upper="1.57" effort="0" velocity="0"/> 
  </joint>

  <joint name="joint3" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0 0 0.75"/>
    <limit lower="-1.57" upper="1.57" effort="0" velocity="0"/> 
  </joint>

  <joint name="joint4" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="0 0 0.25"/>
    <limit lower="-1.57" upper="1.57" effort="0" velocity="0"/> 
  </joint>

  <joint name="eff_joint" type="fixed">
    <parent link="link4"/>
    <child link="effector"/>
    <origin xyz="0 0 .25"/>
  </joint>
      
</robot>
  
       
